/* div {
  background-color: red;
} */

html, body {
  height: 100%
}

#game-title {
  font-family: "Rubik Mono One";
}

#game-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
}

#message-row {
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 36px;
  width: 100%;
  font-family: "Roboto Mono";
}

#message {
  margin-bottom: auto;
  margin-top: auto;
}

#container-main {
  height: 100%;
}

.container-gameboard {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: center;
  padding: 12px;
}

.container-row {
  display:flex;
  column-gap: 12px;
  justify-content: center;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #F8F5F2;
  border: 4px solid #E5DBCD;
  border-radius: 16px;
  text-align: center;
  line-height: 192px;
  font-size: 100px;
  animation-duration: 1.5s;
}

.container-row:nth-of-type(even){
  .square:nth-of-type(odd){
    background-color: #F7F3F3;
    border: 4px solid #E0D1D1;
  }
}

.container-row:nth-of-type(odd){
  .square:nth-of-type(even){
    background-color: #F7F3F3;
    border: 4px solid #E0D1D1 ;
  }
}

@keyframes fadeOut {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}